body {
    background-color: #D670DA;
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 30px;
  }
  
 
 
 #resultado{
    font-size: 60px;
    color: black;
    margin-top: 100px;

 }
 
 
 
  .corazon {
    animation: latido 1s infinite;
    background-color: red;
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    top: 0;
    transform: rotate(-45deg);
    position: absolute; 
    left: 70%; 
    top: 85%;
    width: 50px;
  }
  
  .corazon:before,
  .corazon:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
  }
  
  .corazon:before {
    top: -25px;
    left: 0;
  }
  
  .corazon:after {
    left: 25px;
    top: 0;
  }
  
  @keyframes latido {
    0%
    {
      transform: scale( 1 )
        rotate(-45deg);    
    }
    20%
    {
      transform: scale( 1.25 )
        rotate(-45deg);  
    }
     40%
    {
      transform: scale( 1.5 )
        rotate(-45deg);
    }
  }
  #Publicidad{
      min-height: 100em;
      position: absolute;
  }
  #Publicidad img{
      width: 200px;
      height: 200px;
      border-radius: 20%;
     
     text-justify: initial;
  }